.CharacterId__bold {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.CharacterId__tomato-icon {
  width: 2rem;
  height: 2rem;
}

.CharacterId__section {
  background-color: var(--component-background);
  padding: .5rem 1rem;
  border-radius: .25rem;
}

.CharacterId__right-align {
  text-align: right;
  font-size: .75rem;
}