.ListContainer {
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.ListContainer h1 {
  padding-bottom: 1rem;
}

.ListContainerGrid {
  display: flex;
  grid-template-columns: 1fr;
  gap: 1rem;
}